<html>
    <head>
        <link rel="stylesheet" href="/public/css/pagemodel.css">
        <link rel="stylesheet" href="/public/css/about.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>  
        <header>
            <div class="menu">
                <ul class="menu">
                    <li class="menu">
                        <a href="/profile">Perfil</a>
                    </li>
                    <li class="menu">
                        <a href="/">Home</a>
                    </li>                 
                    <li class="menu">
                        <a href="/tournaments">Torneios</a>
                    </li>
                    <li class="menu"  id="selected">
                        <a href="/about">Sobre</a>
                    </li>                       
                    <li class="menu">
                        <a href="/settings">Configurações</a>
                    </li>
                    <li class="menu">
                        <a href="/logout">Sair</a>
                    </li>                    
                </ul>
            </div>
        </header>
        <div class="main">
            <div class="texto">
                <div class="quemsomos">
                    <h2>Quem somos?</h2>
                    <p>Somos a Quick Confrontation Network, e nosso objetivo é fazer competições premiadas
                        para você poder fazer dinheiro fazendo aquilo que mais gosta, jogando!</p>    
                </div>
                <div class="jogosdisp">
                    <h2>Quais jogos eu posso jogar na QCN?</h2>
                    <p>Por enquanto apenas League of Legends está disponível, modo de jogo normal e TFT!</p>
                </div>
                <div class="pagamento">
                    <h2>Como eu faço o para receber a premiação?</h2>
                    <p>Para receber a premiação em dinheiro, você precisa ter uma conta no <a href="https://www.paypal.com/br/home">PayPal</a> e cadastrar ela no site. </p>
                </div>
            </div>
        </div>
    </body>
</html>