<html>
    <head>
        <script src="public/home.js" defer="defer"></script>
    </head>
    <body>
        Bem vindo, <%= name %>!<br>
        <form action="/logout" id="formulario" method="POST">
            <input type="submit" value="Deslogar">
        </form>
    </body>
</html>