<html>
    <head>
        <script src="public/home.js" defer="defer"></script>
    </head>
    <body>
        Bem vindo!<br>
        <form id="formulario">
            <button>Deslogar</button>
        </form>

    </body>
</html>