<html>
    <head>
        <script src="public/home.js" defer="defer"></script>
    </head>
    <body>
        Bem vindo!<br>
        <form action="/logout" id="formulario" method="POST">
            <input type="submit" value="Deslogar">
        </form>

        <form action="/ctournament" id="tournament_form" method="POST">
            <input type="text" id="json">
            <input type="submit" value="submit">
        </form>  

    </body>
</html>