<html>
    <head>
        <script src="/public/js/tournament.js" defer="defer"></script>
        <link rel="stylesheet" href="/public/css/pagemodel.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="menu">
                <ul class="menu">
                    <li class="menu">
                        <a href="/profile">Perfil</a>
                    </li>
                    <li class="menu">
                        <a href="/">Home</a>
                    </li>                 
                    <li class="menu" id="selected">
                        <a href="/tournaments">Torneios</a>
                    </li>
                    <li class="menu">
                        <a href="/about">Sobre</a>
                    </li>                       
                    <li class="menu">
                        <a href="/settings">Configurações</a>
                    </li>
                    <li class="menu">
                        <a href="/logout">Sair</a>
                    </li>                    
                </ul>
            </div>
        </header>
        <table id="my_tournaments">

                <tr>
                    <td>            
                        <div class="torneio">
                            Uma partida
                        </div>
                    </td>  
                </tr>
            
        </table>
    </body>
</html>