<html>
    <head>
        <script src="/public/js/tournament.js" defer="defer"></script>
    </head>
    <body>
        <table id="my_tournaments">

                <tr>
                    <td>            
                        <div class="torneio">
                            Uma partida
                        </div>
                    </td>  
                </tr>
            
        </table>
    </body>
</html>