*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat; 
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.menu{
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
}

.item{
    border-top: 1px solid #f39c12;
    overflow: hidden;
}

.btn{
    display: block;
    padding: 16px 20px;
    background-color:#d35400;
    color: white;
}


.btn:before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #d35400;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}


.smenu{
    background: #333;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.smenu a{
    display: block;
    padding: 16px 26px;
    color: white;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
}

.smenu a:before{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #d35400;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
}

.smenu a:hover::before{
    opacity: 1;
}